[profile.default]
src = "src"
out = "out"
libs = ["dependencies"]

[dependencies]
olympus-v3 = { version = "1.0.0", git = "https://github.com/OlympusDAO/olympus-v3", rev = "afb0b906736ae1fb0a1c7b073969ad005255fc15" }

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
