[profile.default]
src = "src"
out = "out"
libs = ["dependencies"]

[dependencies]
olympus-v3 = { version = "1.0.0", git = "https://github.com/OlympusDAO/olympus-v3", rev = "0ee70b402d55937704dd3186ba661ff17d0b04df" }

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
