[profile.default]
src = "src"
out = "out"
libs = ["dependencies"]

[dependencies]
olympus-v3 = { version = "1.0.0", git = "https://github.com/OlympusDAO/olympus-v3", rev = "0e438fee2a8ac87c7cf66f81ff8327e1587e8fad" }

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
