[profile.default]
src = "src"
out = "out"
libs = ["dependencies"]

[dependencies]
olympus-v3 = { version = "1.0.0", git = "https://github.com/OlympusDAO/olympus-v3", rev = "a33d3e5c59822df96ec00f47c9c19aefe3ceb9cb" }

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
